node_modules/
dist/
*.tsbuildinfo
src/**/*.js
src/**/*.js.map
src/**/*.d.ts
src/**/*.d.ts.map
packages/server/public/assets/
packages/server/public/units/
node.pid
package-lock.json
packages/trainer/data/
packages/trainer/tmp/
packages/trainer/packages/
tmp/
